<button type="button" (click)="openModel()">Open Modal</button>

<div class="modal d-none" #modal id="modal">

  <div class="modal-content">
    <span (click)="closeModel()" class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>
  <button type="button" (click)="closeModel()">Close Modal</button>
</div>
<br><br>
<button type="button" (click)="show()">Open Modal Angular</button> 

<div class="my-modal" *ngIf="showPop">
  <!-- Modal content -->
  <div class="my-modal-content">
    <span (click)="hide()" class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>
  <button type="button" (click)="hide()">Close Modal</button>
</div>